<!DOCTYPE html>
<html lang="zh-CN">
    <head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
    <meta name="description" content="toropress" />
    <meta name="keywords" content="toropress" />
    <meta name="author" content="insion"/>
    
    <title>Toropress</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  
  <!-- Stylesheets -->
  <link href="/static/themes/nannie/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/themes/nannie/css/font-awesome.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="/static/themes/nannie/css/font-awesome-ie7.css">
  <![endif]-->      
  <link href="/static/themes/nannie/css/style.css" rel="stylesheet">
  <link href="/static/themes/nannie/css/bootstrap-responsive.css" rel="stylesheet">
  
<!--[if lt IE 9]>
<script src="/static/themes/nannie/js/html5.js"></script>
<![endif]-->
  
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
   
</head>

<body>

<!-- Header -->
<header>
   <div class="container">
      <div class="row">
         <div class="span4">
            <div class="logo">
               <!-- Recommended Logo size 240x100 -->
               <a href="/"><h1>Insion.<span class="color">Co</span></h1></a>
               <p class="lmeta">Toropress，又一个Toropress..</p>
            </div>
         </div>
         <!--div class="span4 offset4">
            <div class="social">
               <a href="#"><i class="icon-facebook facebook"></i></a>
               <a href="#"><i class="icon-twitter twitter"></i></a>
               <a href="#"><i class="icon-linkedin linkedin"></i></a>
               <a href="#"><i class="icon-pinterest pinterest"></i></a>
               <a href="#"><i class="icon-google-plus google-plus"></i></a>
            </div>
         </div-->
      </div>
   </div>
</header>

         <div class="navbar">
            <div class="navbar-inner">
               <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                     <span>菜单</span>
                  </a>
                  <div class="nav-collapse collapse">
                      <ul class="nav">
                        <ul id="menu-menu" class="nav">
                          <li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-30"><a href="/">首页</a></li>
                        {{if .categorys}}
                          {{range .categorys}}
                            <li class="menu-item"><a href="/category/{{.Id}}">{{.Title}}</a></li>
                          {{end}}
                        {{else}}
                          <li class="menu-item"><a href="###">尚无分类</a></li>
                        {{end}}
                        </ul>
                      </ul>
                  </div>
               </div>
            </div>
         </div>

<!-- Content -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span8">
          {{.LayoutContent}}
         </div>

         <div class="span4">
            <!-- Sidebar -->
               <div class="sidebar">
<div class="widget">
  <h3><span>搜索</span></h3><div class="form">
  <form method="get" id="searchform" action="http://responsivewebinc.com/nannie/" class="form-search">
  <input type="text" value="" name="s" id="s" class="input-medium"/>
  <input type="submit" id="searchsubmit" value="搜索" class="btn"/>
  </form>
  </div>
</div>

{{if compare .Userrole 100}}
<div class="widget">
  <h3><span>管理，{{.Username}}</span></h3>
  <ul>
     <li><a href="/new/category">新建分类</a></li>
     <li><a href="/new/node">新建节点</a></li>
     <li><a href="/new/topic">新建话题</a></li>
     <li><a href="/modify/category">修改分类</a></li>
     <li><a href="/modify/node">修改节点</a></li>
     <li><a href="/modify/topic">修改话题</a></li>
     <li><a href="/logout">退出</a></li>
  </ul>
</div>
<div class="widget">
  <h3><span>危险操作</span></h3>
  <ul>
     <li><a href="/delete/category">删除分类</a></li>
     <li><a href="/delete/node">删除节点</a></li>
     <li><a href="/delete/topic">删除话题</a></li>
     <li><a href="/delete/user">删除用户</a></li>
  </ul>
</div>
{{else}}
<div class="widget">
  {{if .Username}}
  <h3><span>欢迎，{{.Username}}</span></h3>
  {{else}}
  <h3><span>注册登录</span></h3>
  {{end}}
  <ul>
  {{if .Username}}
     <li><a href="/node/new">新建节点</a></li>
     <li><a href="/topic/new">新建话题</a></li>
     <li><a href="/logout">退出</a></li>
  {{else}}
     <li><a href="/register">注册</a></li>
     <li><a href="/login">登录</a></li>
  {{end}}
  </ul>
</div>
{{end}}

<div class="widget">
  <h3><span>最新10个节点</span></h3>
  <ul>
  {{if .nodes_10s}}
    {{range .nodes_10s}}
      <li><a href="/node/{{.Id}}" title="{{.Title}}">{{.Title}}</a></li>
    {{end}}
  {{else}}
    <li>无该节点数据</li>
  {{end}}
  </ul>
</div>

<div class="widget">
  <h3><span>最新10条评论</span></h3>
  <ul id="recentcomments">
  {{if .replys_10s}}
      {{range .replys_10s}}
      <li class="recentcomments">ID:{{.Uid}} on <a href="/topic/{{.Pid}}#reply-{{.Id}}">{{cutstr .Content 0 50}}</a></li>
      {{end}}
  {{else}}
      <li class="recentcomments">尚无评论</li>
  {{end}}
  </ul>
</div>

<div class="widget">
  <h3><span>博客分类</span></h3>
  <ul>
    {{if .categorys}}
      {{range .categorys}}
        <li class="cat-item"><a href="/category/{{.Id}}">{{.Title}}</a></li>
      {{end}}
    {{else}}
     <li class="cat-item">尚无分类</li>
    {{end}}
  </ul>
</div>

             </div>
         </div>
      </div>
   </div>
</div>

<!-- Content ends -->
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <!-- Footer widgets -->
         <div class="span4">
                        <div class="fwidget">
               <h4>About Insion.Co</h4>
               <p>影神网  是一个基于toropress搭建的图片博客，欢迎大家收藏！</p>
            </div>
                     </div>
         <div class="span4">
                        <div class="fwidget">
               <h4>Recent Comments</h4>
               <ul>
                {{if .replys_5s}}
                  {{range .replys_5s}}
                  <li>ID:{{.Uid}} on <a href="/topic/{{.Pid}}#reply-{{.Id}}">{{cutstr .Content 0 50}}</a></li>
                  {{end}}
                {{else}}
                  <li>尚无评论</li>
                {{end}}
               </ul>
            </div>     
         </div>
         <div class="span4">
                        <div class="fwidget">
               <h4>Categories</h4>
               <ul>
                {{if .categorys}}
                  {{range .categorys}}
                    <li><a href="/category/{{.Id}}">{{.Title}}</a></li>
                  {{end}}
                {{else}}
                  <li>尚无分类</li>
                {{end}}
               </ul>
            </div>   
                     </div>
      <div class="span12">
         <div class="copy">
            <p>Copyright &copy; 2013 - <a href="/">Insion Co.</a> Powered by <a href="https://github.com/insionng/toropress" target="_blank">ToroPress</a>.<script src="http://s25.cnzz.com/stat.php?id=5052969&web_id=5052969&show=pic1" language="JavaScript"></script>
</p>
         </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>       

<!-- JS -->
<script src="/static/js/jquery-1.8.2.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>