	<head>
		<meta charset="utf-8">
		<title>Toropress | Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="/static/root/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/root/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/static/root/css/style.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/static/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	</head>