		<script src="/static/root/js/jquery.js"></script>
		<script src="/static/root/js/bootstrap-transition.js"></script>
		<script src="/static/root/js/bootstrap-alert.js"></script>
		<script src="/static/root/js/bootstrap-modal.js"></script>
		<script src="/static/root/js/bootstrap-dropdown.js"></script>
		<script src="/static/root/js/bootstrap-scrollspy.js"></script>
		<script src="/static/root/js/bootstrap-tab.js"></script>
		<script src="/static/root/js/bootstrap-tooltip.js"></script>
		<script src="/static/root/js/bootstrap-popover.js"></script>
		<script src="/static/root/js/bootstrap-button.js"></script>
		<script src="/static/root/js/bootstrap-collapse.js"></script>
		<script src="/static/root/js/bootstrap-carousel.js"></script>
		<script src="/static/root/js/bootstrap-typeahead.js"></script>
		<script src="/static/root/datatable/media/js/jquery.dataTables.js"></script>
		<script src="/static/root/js/datatable.js"></script>
		<script src="/static/root/js/custom.js"></script>