<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}

	<body>
		<div id="login">
			<h3>登录</h3>
			<form action="" method="post">
				<fieldset>
				    <div class="alert alert-danger">
					    <a class="close" data-dismiss="alert">×</a>
					    欢迎登录Toropress后台
				    </div>
					<div class="control-group">
						<label class="control-label" for="user_name">账号</label>
						<div class="controls">
							<input type="text" class="input-large" id="user_name" name="username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="pass_word">密码</label>
						<div class="controls">
							<input type="password" name="password" class="input-large" id="pass_word">
						</div>
					</div>
				</fieldset>
				<a href="forgot_password.html">忘记密码 ?</a>
				<div class="pull-right">
					<button type="submit" class="btn btn-warning">
						登录
					</button>
				</div>
			</form>
			Toropress Copyright &copy; 2013
			<div class="pull-right">
				<a href="register.html">注册</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">帮助</a>
			</div>
		</div>
		<!-- Le javascript ================================================== -->
		<!--
		Placed at the end of the document so the pages load faster -->
		<script src="/static/js/jquery-1.8.2.js"></script>
		<script src="/static/root/js/bootstrap-alert.js"></script>
	</body>
</html>
