		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/root">TOROPRESS</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active">
								<a href="/root">管理面板</a>
							</li>
							<li>
								<a href="/">访问网站</a>
							</li>
						</ul>
						<!--
						<ul class="nav">
							<li class="active">
								<a href="./dash.html">管理面板</a>
							</li>
							<li>
								<a href="#">Single Menu</a>
							</li>
							<li>
								<a class="caption" data-content="And here's some amazing content. It's very engaging. right?" rel="popover"  href="#" data-original-title="A Title">
									Menu With Caption
								</a>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle " href="#">Dropdown Menu<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Menu</a>
									</li>
									<li>
										<a href="#">Another Menu</a>
									</li>
									<li>
										<a href="#">Another Menu Too</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">Separated Menu</a>
									</li>
									<li>										
										<a href="#" class="caption" data-content="And here's some amazing content. It's very engaging. right?" rel="popover"  href="#" data-original-title="A Title">Separated Menu With Caption </a>
									</li>
								</ul>
							</li>
						</ul>
						-->
						<ul class="nav pull-right">
							<li>
								<a href="#"><span class="badge badge-warning">23</span></a>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a>May 23, 2012</a>
							</li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle " href="#">{{.Username}} 你好<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/root/account"><i class="icon-user"></i>账号设置</a>
									</li>
									<li>
										<a href="/root/change_password"><i class="icon-lock"></i>修改密码</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/logout"><i class="icon-off"></i>退出</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>