<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Aqueena Template | Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="./dash.html">AQUEENA</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active">
								<a href="./dash.html">Dashboard</a>
							</li>
							<li>
								<a href="#">Single Menu</a>
							</li>
							<li>
								<a class="caption" data-content="And here's some amazing content. It's very engaging. right?" rel="popover"  href="#" data-original-title="A Title"> Menu With Caption </a>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle " href="#">Dropdown Menu<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Menu</a>
									</li>
									<li>
										<a href="#">Another Menu</a>
									</li>
									<li>
										<a href="#">Another Menu Too</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">Separated Menu</a>
									</li>
									<li>
										<a href="#" class="caption" data-content="And here's some amazing content. It's very engaging. right?" rel="popover"  href="#" data-original-title="A Title">Separated Menu With Caption </a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="nav pull-right">
							<li>
								<a href="#"><span class="badge badge-warning">23</span></a>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a>May 23, 2012</a>
							</li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle " href="#">Hello New Member <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="./account.html"><i class="icon-user"></i> Account Setting  </a>
									</li>
									<li>
										<a href="./change_password.html"><i class="icon-lock"></i> Change Password</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="./"><i class="icon-off"></i> Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="page-header-top">
						<div class="container">
							<h1>Form <small>add new transaction or modified</small></h1>
						</div>
					</div>
					<div class="page-header">
						<div class="pull-right">
							<div class="btn-group">
								<a class="btn btn-warning" onclick="window.back()"><i class="icon-white icon-arrow-left"></i> Cancel</a>
							</div>
						</div>
						<h3>New Transaction</h3>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<ul class="nav nav-tabs nav-stacked">
								<li>
									<a href="./dash.html">Dashboard <span class="label label-warning pull-right">1</span></a>
								</li>
								<li>
									<a href="./table.html">Table</a>
								</li>
								<li class="active">
									<a href="./form.html">Form</a>
								</li>
								<li>
									<a href="./tab.html">Tabular &amp; Accordion</a>
								</li>
							</ul>
							<ul class="nav nav-tabs nav-stacked">
							
								<li>
									<a href="./account.html">User Account</a>
								</li>
								<li>
									<a href="./change_password.html">Change Password</a>
								</li>
							</ul>
						    <form class="well form-search">
							    <input type="text" class="search-query" style="width:200px" placeholder="type and hit the enter key">
						    </form>									
						</div>
						<div class="span9">
							<form class="well form-horizontal">
								<fieldset>
									<div class="alert alert-error">
										<a class="close" data-dismiss="alert">&times;</a>
										Alert
									</div>
									<div class="alert alert-warning">
										<a class="close" data-dismiss="alert">&times;</a>
										Warning
									</div>
									<div class="alert alert-success">
										<a class="close" data-dismiss="alert">&times;</a>
										Success
									</div>
									<div class="alert alert-info">
										<a class="close" data-dismiss="alert">&times;</a>
										Information
									</div>
									<div class="control-group">
										<label for="input01" class="control-label">Dropdown And Input</label>
										<div class="controls">
											<select class="span2">
												<option>Select #1</option>
												<option>Select #2</option>
											</select>
											<input type="date" id="input01" class="input-medium">
										</div>
									</div>
									<div class="control-group">
										<label for="input01" class="control-label">Single Input</label>
										<div class="controls">
											<input type="text" id="input01" class="input-xlarge">
											<a class="btn btn-warning popup" href="#myModal" data-toggle="modal"><i class="icon-search icon-white"></i></a>
										</div>
									</div>
									<div class="control-group">
										<label for="optionsCheckbox" class="control-label">Input With Button</label>
										<div class="controls">
											<div class="input-append">
												<input type="text" id="input01" class="input-medium"><a class="btn btn-warning" type="button" href="#myModal" data-toggle="modal"><i class="icon-search icon-white"></i></a>
											</div>
										</div>
									</div>
									<div class="control-group">
										<label for="optionsCheckbox" class="control-label">Triple Input</label>
										<div class="controls form-inline">
											<input type="text" id="input01" class="input-small" placeholder="#1">
											<input type="text" id="input01" class="input-small" placeholder="#2">
											<input type="text" id="input01" class="input-small" placeholder="#3">
										</div>
									</div>
									<div class="control-group">
										<label for="prependedInput" class="control-label">With Prepended Text</label>
										<div class="controls">
											<div class="input-prepend">
												<span class="add-on">$</span><input type="text" size="16" id="prependedInput" class="span2">
											</div>
										</div>
									</div>
									<div class="control-group">
										<label for="prependedInput" class="control-label">With Appended Text</label>
										<div class="controls">
											<div class="input-append">
												<input type="text" size="16" id="prependedInput" class="span2"><span class="add-on">.00</span>
											</div>
										</div>
									</div>
									<div class="control-group">
										<label for="prependedInput" class="control-label">Append and Prepend</label>
										<div class="controls">
											<div class="input-prepend input-append">
												<span class="add-on">$</span><input type="text" size="16" id="prependedInput" class="span2"><span class="add-on">.00</span>
											</div>
										</div>
									</div>
									<div class="control-group">
										<label for="inlineCheckboxes" class="control-label">Checkbox</label>
										<div class="controls">
											<label class="checkbox inline">
												<input type="checkbox" value="option1" id="inlineCheckbox1">
												Checkbox 1 </label>
											<label class="checkbox inline">
												<input type="checkbox" value="option2" id="inlineCheckbox2">
												Checkbox 2 </label>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Radio buttons</label>
										<div class="controls">
											<label class="radio">
												<input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
												Option one is this and that&mdash;be sure to include why it's great </label>
											<label class="radio">
												<input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
												Option two can is something else and selecting it will deselect option one </label>
										</div>
									</div>
									<div class="control-group">
										<label for="textarea" class="control-label">Description</label>
										<div class="controls">
											<textarea rows="3" id="textarea" class="input-xlarge"></textarea>
										</div>
									</div>
									<div class="form-actions">
										<button type="reset" class="btn">
											Reset
										</button>
										<button class="btn btn-warning" type="submit">
											Submit
										</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>

			<hr/>
			<footer>
				<p>
					Put Your Copyright Here &copy; 2012
				</p>
			</footer>

		</div>
		<!-- /container -->
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>Modal Dialog</h3>
			</div>
			<div class="modal-body">
				<p>
					Put Some Information Here
				</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<a href="#" class="btn btn-warning pull-right">Submit</a>
			</div>
		</div>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/bootstrap-transition.js"></script>
		<script src="assets/js/bootstrap-alert.js"></script>
		<script src="assets/js/bootstrap-modal.js"></script>
		<script src="assets/js/bootstrap-dropdown.js"></script>
		<script src="assets/js/bootstrap-scrollspy.js"></script>
		<script src="assets/js/bootstrap-tab.js"></script>
		<script src="assets/js/bootstrap-tooltip.js"></script>
		<script src="assets/js/bootstrap-popover.js"></script>
		<script src="assets/js/bootstrap-button.js"></script>
		<script src="assets/js/bootstrap-collapse.js"></script>
		<script src="assets/js/bootstrap-carousel.js"></script>
		<script src="assets/js/bootstrap-typeahead.js"></script>
		<script src="assets/js/custom.js"></script>
	</body>
</html>
