@charset "UTF-8";
	html,body {
	background:#e9eaec;
	-webkit-font-smoothing:antialiased;
	font-size:13px
}
* {
	box-sizing:border-box;
	font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent
}
[placeholder]::-webkit-input-placeholder,[placeholder]::-moz-placeholder,[placeholder]:-ms-input-placeholder {
	font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif
}
a {
	color:#333333;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
	text-decoration:none
}
a:hover {
	color:#E67E22
}
.container {
	margin:0 auto
}
@media (min-width:1200px) {
	.container {
	width:1170px
}
}@media (min-width:800px) and (max-width:1200px) {
	.container {
	width:1000px
}
}@media (max-width:800px) {
	.container {
	width:auto
}
}.clearfix {
	*zoom:1
}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.rows {
	*zoom:1
}
.rows:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:1200px) {
	.rows {
	margin-top:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.rows {
	margin-top:20px
}
}.col-sub {
	float:left
}
@media (min-width:1200px) {
	.col-sub {
	width:330px;
	margin-right:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.col-sub {
	width:280px;
	margin-right:20px
}
}@media (max-width:800px) {
	.col-sub {
	float:none
}
}.col-main {
	float:right
}
@media (min-width:1200px) {
	.col-main {
	width:810px
}
}@media (min-width:800px) and (max-width:1200px) {
	.col-main {
	width:700px
}
}@media (max-width:800px) {
	.col-main {
	float:none
}
}.brand-link {
	color:#E67E22
}
.brand-link:hover {
	color:#2c79b0
}
.badge-base {
	position:relative
}
.badge-base:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-base:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-tv {
	position:relative;
	overflow:hidden
}
.badge-tv:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-tv:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-tv:after {
	content:"氪TV";
	background:#f45170;
	z-index:15
}
.badge-tv:before {
	content:" ";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:rgba(0,0,0,0.3) url(http://kryptoners.b0.upaiyun.com/assets/icon-bofang-ee3db58a3ba9592e0484162dd88ad491.png) no-repeat center center;
	background-size:40px;
	z-index:10;
	opacity:0.8
}
@media (max-width:800px) {
	.badge-tv:before {
	background-size:28px
}
}.badge-tv:hover:before {
	opacity:1;
	background-color:rgba(0,0,0,0.3)
}
.badge-o2o {
	position:relative
}
.badge-o2o:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-o2o:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-o2o:after {
	content:"O2O";
	background:#f0cc23
}
.badge-hardware {
	position:relative
}
.badge-hardware:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-hardware:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-hardware:after {
	content:"新硬件";
	background:#a289df
}
.badge-fun {
	position:relative
}
.badge-fun:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-fun:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-fun:after {
	content:"Fun!!";
	background:#ff6161
}
.badge-enterprise {
	position:relative
}
.badge-enterprise:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-enterprise:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-enterprise:after {
	content:"企业服务";
	background:#678ce0
}
.badge-sports {
	position:relative
}
.badge-sports:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-sports:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-sports:after {
	content:"Fit&Health";
	background:#42d1db
}
.badge-edu {
	position:relative
}
.badge-edu:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-edu:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-edu:after {
	content:"在线教育";
	background:#51cc96
}
.badge-finance {
	position:relative
}
.badge-finance:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-finance:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-finance:after {
	content:"互联网金融";
	background:#f28d19
}
.badge-company {
	position:relative
}
.badge-company:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-company:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-company:after {
	content:"大公司";
	background:#1f90f2
}
.badge-activity {
	position:relative
}
.badge-activity:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-activity:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-activity:after {
	content:"近期活动";
	background:#8ab724
}
.ad-wrapper {
	position:relative
}
.ad-wrapper:before {
	content:"推广";
	display:block;
	position:absolute;
	top:0;
	right:0;
	font-size:12px;
	color:#fff;
	background:#7c91c2;
	padding:0px 10px
}
@media (max-width:800px) {
	.ad-wrapper:before {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.radius-box {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
@media (max-width:800px) {
	.mobile-hide {
	display:none !important
}
}.mobile-show {
	display:none
}
@media (max-width:800px) {
	.mobile-show {
	display:block
}
}@media (max-width:800px) {
	.index-wrap {
	padding:10px
}
}.index-wrap .head-images {
	*zoom:1;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:-10px
}
.index-wrap .head-images:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:1200px) {
	.index-wrap .head-images {
	width:1170px
}
}@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .head-images {
	width:1000px
}
}@media (max-width:800px) {
	.index-wrap .head-images {
	width:auto
}
}@media (max-width:800px) {
	.index-wrap .head-images {
	margin-top:0px;
	margin-bottom:20px
}
}.index-wrap .head-images .cover-base a {
	position:relative;
	width:100%;
	height:100%;
	display:block;
	background:no-repeat center center;
	background-size:cover
}
.index-wrap .head-images .cover-base a span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:0 20px;
	margin:15px 0px;
	color:#ffffff;
	font-size:18px;
	z-index:50
}
.index-wrap .head-images .cover-base a:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background-color:rgba(0,0,0,0);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#000));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),#000);
	background:-ms-linear-gradient(top,rgba(0,0,0,0),#000);
	opacity:0.7;
	content:" ";
	z-index:30
}
.index-wrap .head-images .cover-base a:hover:before {
	opacity:1
}
.index-wrap .head-images .scrollers {
	float:left;
	width:480px;
	height:330px;
	position:relative
}
.index-wrap .head-images .scrollers a {
	position:relative;
	width:100%;
	height:100%;
	display:block;
	background:no-repeat center center;
	background-size:cover
}
.index-wrap .head-images .scrollers a span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:0 20px;
	margin:15px 0px;
	color:#ffffff;
	font-size:18px;
	z-index:50
}
.index-wrap .head-images .scrollers a:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background-color:rgba(0,0,0,0);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#000));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),#000);
	background:-ms-linear-gradient(top,rgba(0,0,0,0),#000);
	opacity:0.7;
	content:" ";
	z-index:30
}
.index-wrap .head-images .scrollers a:hover:before {
	opacity:1
}
.index-wrap .head-images .scrollers img {
	display:none
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .head-images .scrollers {
	width:410.25641026px;
	height:282.05128205px
}
}@media (max-width:800px) {
	.index-wrap .head-images .scrollers {
	width:100%;
	height:auto
}
.index-wrap .head-images .scrollers a {
	max-height:330px;
	overflow:hidden;
	display:block
}
.index-wrap .head-images .scrollers img {
	display:block;
	width:100%;
	height:auto;
	position:relative;
	z-index:8
}
}.index-wrap .head-images .smaller-images {
	margin-bottom:-10px
}
@media (max-width:800px) {
	.index-wrap .head-images .smaller-images {
	display:none !important
}
}.index-wrap .head-images .smaller-images .block {
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	height:160px;
	width:220px
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .head-images .smaller-images .block {
	width:188.03418803px;
	height:136.75213675px;
	margin-left:8px;
	margin-bottom:8px
}
}.index-wrap .head-images .smaller-images .block.wider {
	width:450px
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .head-images .smaller-images .block.wider {
	width:384.61538462px
}
}.index-wrap .head-images .smaller-images .block.article a {
	position:relative;
	width:100%;
	height:100%;
	display:block;
	background:no-repeat center center;
	background-size:cover
}
.index-wrap .head-images .smaller-images .block.article a span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:0 20px;
	margin:15px 0px;
	color:#ffffff;
	font-size:18px;
	z-index:50
}
.index-wrap .head-images .smaller-images .block.article a:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background-color:rgba(0,0,0,0);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#000));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),#000);
	background:-ms-linear-gradient(top,rgba(0,0,0,0),#000);
	opacity:0.7;
	content:" ";
	z-index:30
}
.index-wrap .head-images .smaller-images .block.article a:hover:before {
	opacity:1
}
.index-wrap .head-images .smaller-images .block.article a span {
	font-size:15px;
	line-height:20px;
	max-height:40px;
	overflow:hidden;
	display:block
}
.index-wrap .head-images .smaller-images .block.ad a {
	position:relative;
	width:100%;
	height:100%;
	display:block;
	background:no-repeat center center;
	background-size:cover
}
.index-wrap .head-images .smaller-images .block.ad a span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:0 20px;
	margin:15px 0px;
	color:#ffffff;
	font-size:18px;
	z-index:50
}
.index-wrap .head-images .smaller-images .block.ad a:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background-color:rgba(0,0,0,0);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#000));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),#000);
	background:-ms-linear-gradient(top,rgba(0,0,0,0),#000);
	opacity:0.7;
	content:" ";
	z-index:30
}
.index-wrap .head-images .smaller-images .block.ad a:hover:before {
	opacity:1
}
.index-wrap .head-images .smaller-images .block.ad a:before {
	background-color:rgba(255,255,255,0);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,0.5)));
	background:-webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.5));
	background:-ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.5));
	opacity:0
}
.index-wrap .head-images .smaller-images .block.ad a:hover:before {
	opacity:1
}
.index-wrap .main-section {
	margin:0 auto;
	*zoom:1
}
@media (min-width:1200px) {
	.index-wrap .main-section {
	width:1170px
}
}@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section {
	width:1000px
}
}@media (max-width:800px) {
	.index-wrap .main-section {
	width:auto
}
}.index-wrap .main-section:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:1200px) {
	.index-wrap .main-section {
	margin-top:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section {
	margin-top:20px
}
}.index-wrap .main-section .index-side {
	float:left
}
@media (min-width:1200px) {
	.index-wrap .main-section .index-side {
	width:330px;
	margin-right:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section .index-side {
	width:280px;
	margin-right:20px
}
}@media (max-width:800px) {
	.index-wrap .main-section .index-side {
	float:none
}
}.index-wrap .main-section .news-list {
	float:right
}
@media (min-width:1200px) {
	.index-wrap .main-section .news-list {
	width:810px
}
}@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section .news-list {
	width:700px
}
}@media (max-width:800px) {
	.index-wrap .main-section .news-list {
	float:none
}
}
.index-wrap .main-section .news-list .categories {
	*zoom:1;
	border-radius: 2px;
	height:40px;
	background:#f4f4f4;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	z-index:100
}
.index-wrap .main-section .news-list .categories .newslistul{
	list-style:none;
}
.index-wrap .main-section .news-list .categories .newslistul li{
	float:left;
}
@media (max-width:800px) {
	.index-wrap .main-section .news-list .categories {
	display:none !important
}
}.index-wrap .main-section .news-list .categories:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.index-wrap .main-section .news-list .categories.is_stuck {
	box-shadow:0 1px 4px rgba(0,0,0,0.2)
}
.index-wrap .main-section .news-list .categories a {
	float:left;
	line-height:40px;
	display:inline-block;
	padding:0 14px;
	color:#666666;
	position:relative;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease
}
.index-wrap .main-section .news-list .categories a:first-of-type {
    border-radius: 2px 0 0 2px;
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section .news-list .categories a {
	padding:0 8px
}
}

.index-wrap .main-section .news-list .categories a:hover {
	color:#E67E22
}
.index-wrap .main-section .news-list .categories a:before {
	-webkit-transform:translate(0,-8px);
	-ms-transform:translate(0,-8px);
	transform:translate(0,-8px);
	opacity:0;
	position:absolute;
	top:100%;
	left:50%;
	width:10px;
	height:10px;
	background:#E67E22;
	content:" ";
	display:block;
	margin-top:-7px;
	margin-left:-3px
}
.index-wrap .main-section .news-list .categories .current-menu-item a {
	position:relative;
	background:#E67E22;
	color:#ffffff
}
.index-wrap .main-section .news-list .categories .current-menu-item a:before {
	opacity:1;
	-webkit-transition:all 0.3s ease 0.4s;
	transition:all 0.3s ease 0.4s;
	-webkit-transform:rotate(45deg) translate(0,0);
	-ms-transform:rotate(45deg) translate(0,0);
	transform:rotate(45deg) translate(0,0)
}
.index-wrap .main-section .news-list .categories a.loading,.index-wrap .main-section .news-list .categories a.loading:hover {
	color:#aaaaaa;
	cursor:default;
	padding:0 20px 0 8px
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section .news-list .categories a.loading,.index-wrap .main-section .news-list .categories a.loading:hover {
	padding:0 14px 0 4px
}
}.index-wrap .main-section .news-list .categories a.loading:after,.index-wrap .main-section .news-list .categories a.loading:hover:after {
	content:" ";
	width:16px;
	height:16px;
	background:url("../img/ajax-loader.gif") no-repeat;
	background-size:cover;
	display:inline-block;
	vertical-align:middle;
	position:absolute;
	right:2px;
	top:12px;
	z-index:100
}
@media (min-width:800px) and (max-width:1200px) {
	.index-wrap .main-section .news-list .categories a.loading:after,.index-wrap .main-section .news-list .categories a.loading:hover:after {
	width:10px;
	height:10px;
	top:15px;
	right:0px
}
}