<header class="common-header J_commonHeaderWrapper header-wrap">
  <div class="container"> <a class="logo" href="/"> <img src="/img/logo.png" alt="Atpress"> </a>
    <div class="triggers"> <a class="headericon-header-search J_searchTrigger" href="javascript:void(0)"></a> <a class="headericon-header-menu J_menuTrigger" href="javascript:void(0)"></a> </div>
    <nav>
      <ul class="J_navList">
        <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5"><a href="/">首页</a></li>
<li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13"><a href="/category/news">新闻</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14"><a href="/category/companies">公司</a></li>
<li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a href="/category/devices">设备</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="/category/voice">大声</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a href="/category/apps">应用</a></li>
        <li class="mobile-show"> </li>
      </ul>
    </nav>
    <div class="right-col J_rightNavWrapper">
      <ul class="sub-nav">
                <li class="tougao-item">
        	<a href="tougao/"><i class="headericon-header-msg"></i> 投稿</a>
        </li>
                <li class="search-item"> <a href="javascript:void(0)"><i class="headericon-header-search"></i> 搜索</a>
          <div class="search-wrap pop-up">
            <div class="searchbar">
              <form action="/" class="J_searchForm">
                <input type="text" placeholder="输入关键字" ng-model="keyword" name="s">
                <button class="headericon-header-search search-icon" type="submit"></button>
                <button class="headericon-close close-icon" type="button"></button>
              </form>
            </div>
          </div>
        </li>
        <li class="login-actions" id="login-reg"> <a href="javascript:void(0)" data-sign="0" id="user-login" class="user-login login-link J_login only-login"><i class="headericon-header-user"></i> 登录/注册</a> </li>
        </ul>
    </div>
  </div>
</header>
