{% block doctype %}<!DOCTYPE html>{% endblock doctype %}
<html class="no-js" lang="zh-CN">
{% block head %}{% include "head.html" %}{% endblock head %}

<body class="home blog">
  <style type="text/css">.ias_pagination{display:none}</style>
  <script>window._MBT = {uri: '/',ajax: '1'}</script>

{% block header %}{% include "header.html" %}{% endblock header %}

<div class="mobile-nav J_mobileNav">
  <ul>
    <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1"><a href="/">首页</a></li>
    <li id="menu-item-2" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2"><a href="/category/news">新闻</a></li>
    <li id="menu-item-3" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3"><a href="/category/companies">公司</a></li>
    <li id="menu-item-4" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4"><a href="/category/devices">设备</a></li>
    <li id="menu-item-5" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5"><a href="/category/voice">大声</a></li>
    <li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6"><a href="/category/apps">应用</a></li>
    <li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7"><a href="/category/people">人物</a></li>
  </ul>
</div>
<link href="/css/index.css" media="all" rel="stylesheet">
<div class="sitetips">全站公告，可开启显示或关闭！</div>
<div class="index-wrap">
  <div class="head-images J_headImages">
    <div class="scrollers"><a data-lazyload="/images/2016-04-01-1459488050-1567099-bvs.jpg" href="#" id="headline_top" target="_blank"><img alt="" src="/images/2016-04-01-1459488050-1567099-bvs.jpg" /><span>“项庄舞剑，意在沛公”：看似加强支付监管，央行实际是要提高P2P资金托管安全性</span></a></div>
    <div class="smaller-images">
      <div class="block wider article"><a data-lazyload="/images/2016-04-01-1459488050-1567099-bvs.jpg" href="http://www.at3.net/5535.html" id="headline_one" target="_blank"><span>人生的苦与乐</span></a></div>
            <div class="block article"><a data-lazyload="/images/chrysanthemum.jpg" href="511/" target="_blank"><span>菲尔·利宾：可穿戴设备这事儿我想了好多年</span></a></div>
            <div class="block article"><a data-lazyload="/images/chrysanthemum.jpg" href="510/" target="_blank"><span>Chromebook 赢了 iPad，在教育市场</span></a></div>
            <div class="block article"><a data-lazyload="/images/chrysanthemum.jpg" href="509/" target="_blank"><span>华为称“没人能从 Windows Phone 中赚钱”</span></a></div>
            <div class="block article"><a data-lazyload="/images/chrysanthemum.jpg" href="508/" target="_blank"><span>2015 年再推 Google Glass，内置英特尔芯片</span></a></div>
          </div>
  </div>
  <div class="main-section">
    <div class="news-list J_articleListWrap" >
      <div class="categories J_newsListNavBar">
        <ul class="newslistul">
          <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1"><a href="/">首页</a></li>
          <li id="menu-item-2" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2"><a href="/category/news">新闻</a></li>
          <li id="menu-item-3" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3"><a href="/category/companies">公司</a></li>
          <li id="menu-item-4" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4"><a href="/category/devices">设备</a></li>
          <li id="menu-item-5" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5"><a href="/category/voice">大声</a></li>
          <li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6"><a href="/category/apps">应用</a></li>
          <li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7"><a href="/category/people">人物</a></li>
        </ul>
      </div>
      <div class="article-list">
        <div id="articles-list" class="articles J_articleList ias_container">
          <article class="excerpt ias_excerpt">
            <a class="pic info_flow_news_image badge-MBT" data-fit-mobile="true" data-lazyload="/images/chrysanthemum.jpg" href="/single"></a>
              <a href="/category/companies"><span class="info_cat" style="background:#ff6666;">公司</span></a>    <div class="desc"><a class="title info_flow_news_title" href="/single" target="_blank">菲尔·利宾：可穿戴设备这事儿我想了好多年</a>
                <div class="author"><a href="/author/root"><span class="avatar" data-lazyload="/images/chrysanthemum.jpg"></span><span class="name">root</span></a><span class="time">&nbsp;•&nbsp;
                  <time class="timeago" datetime="2017-03-03 11:16:43">3月前 (2017-03-03)</time>
                  </span></div>
                <div class="brief">
          Evernote 最近动作不小，新版本推出了 WorkChat 和 Context 功能，一增强协作，目标是革掉 Google Drive 和 Office 的命，二...</div>
              </div>
          </article>
          <article class="excerpt ias_excerpt">
            <a class="pic info_flow_news_image badge-MBT" data-fit-mobile="true" data-lazyload="/images/chrysanthemum.jpg" href="/single"></a>
              <a href="/category/news"><span class="info_cat" style="background:;">新闻</span></a>    <div class="desc"><a class="title info_flow_news_title" href="/single" target="_blank">Chromebook 赢了 iPad，在教育市场</a>
                <div class="author"><a href="/author/root"><span class="avatar" data-lazyload="/images/chrysanthemum.jpg"></span><span class="name">root</span></a><span class="time">&nbsp;•&nbsp;
                  <time class="timeago" datetime="2017-06-10 03:49:59">3年前 (2017-06-10)</time>
                  </span></div>
                <div class="brief">
          IDC 最新公布的数据显示，在教育市场， Google Chromebook 的受欢迎程度首次超过苹果的 iPad。2014 年第三季度，Chromebook...</div>
              </div>
          </article>
          <article class="excerpt ias_excerpt">
            <a class="pic info_flow_news_image badge-MBT" data-fit-mobile="true" data-lazyload="/images/chrysanthemum.jpg" href="/single"></a>
              <a href="/category/news"><span class="info_cat" style="background:;">新闻</span></a>    <div class="desc"><a class="title info_flow_news_title" href="/single" target="_blank">华为称“没人能从 Windows Phone 中赚钱”</a>
                <div class="author"><a href="/author/root"><span class="avatar" data-lazyload="/images/chrysanthemum.jpg"></span><span class="name">root</span></a><span class="time">&nbsp;•&nbsp;
                  <time class="timeago" datetime="2017-06-10 03:49:37">3年前 (2017-06-10)</time>
                  </span></div>
                <div class="brief">
          据 The Verge 报道，今年早些时候华为曾放言要制造一台在美国推出的双启动 Windows Phone，然而这项计划很快就不了了之，华...</div>
              </div>
          </article>
           
          <ul class="pagination-sm pagination ias_pagination ng-isolate-scope ng-valid">
            <li class="ng-scope prev-page"></li>
            <li class="ng-scope active"><a href="/page/1/">1</a></li>
            <li class='ng-scope'><a href="/page/2/">2</a></li>
            <li class="ng-scope next-page ias_next-page"><a href="/page/2/" >下一页 &raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% block sideOfIndex %}{% include "sideOfIndex.html" %}{% endblock sideOfIndex %}
  </div>
</div>

<script src="/js/ias.min.js"></script>

{% block footer %}{% include "footer.html" %}{% endblock footer %}

</body>
</html>
