<div class="index-side mobile-hide">
    <div class="fast-section J_fastSection mobile-hide" style=""><div class="list J_fastSectionList"><div class="tabs J_fastSectionNavBar"><a class="active newsflashes_nav" href="#">推荐阅读</a><a class="product_notes_nav" href="#">快讯</a></div><div class="wrap ps-container ps-active-y" data-ps-id="5a9320f1-ae7f-f340-b065-b32effc4a1a8" style="height: 174px;"><div class="panel"><section class="selected">
    <h3>Chromebook 赢了 iPad，在教育市场</h3>
    <div class="desc"> 
IDC 最新公布的数据显示，在教育市场， Google Chromebook 的受欢迎程度首次超过苹果的 iPad。2014 年第三季度，Chromebooks <a href="510/" target="_blank">[查看详情]</a></div>
    <div class="info"><span class="time">
      <time class="timeago" datetime="2017-06-10 03:49:59">3年前 (2017-06-10)</time>
      </span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="Chromebook 赢了 iPad，在教育市场" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/510?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/510&amp;title=Chromebook 赢了 iPad，在教育市场" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>。
      </span></div>
  </section>
<section class="selected">
    <h3>6thfinger：代替手指帮你触屏，玩个游戏也是蛮拼的</h3>
    <div class="desc"> 

玩过《部落战争》的玩家知道，当我们嚣张地掠夺其他玩家资源的同时，我们也失去了护盾。这意味着你只要不在游戏线上，就随时<a href="500/" target="_blank">[查看详情]</a></div>
    <div class="info"><span class="time">
      <time class="timeago" datetime="2017-06-09 10:50:55">3年前 (2017-06-09)</time>
      </span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="6thfinger：代替手指帮你触屏，玩个游戏也是蛮拼的" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/500?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/500&amp;title=6thfinger：代替手指帮你触屏，玩个游戏也是蛮拼的" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>。
      </span></div>
  </section>
<section class="selected">
    <h3>Printeroid：随时随地打印手机中的照片图像</h3>
    <div class="desc"> 

如果你去一些旅游景点，一定能看到有人拿着印了相片的牌子并吆喝着什么“十元一张，现拍现拿”……这种时候你也许会想，如果自己<a href="499/" target="_blank">[查看详情]</a></div>
    <div class="info"><span class="time">
      <time class="timeago" datetime="2017-06-09 10:50:33">3年前 (2017-06-09)</time>
      </span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="Printeroid：随时随地打印手机中的照片图像" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/499?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/499&amp;title=Printeroid：随时随地打印手机中的照片图像" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>。
      </span></div>
  </section>
<section class="selected">
    <h3>杀死 Google Glass，然后让它重生</h3>
    <div class="desc"> 

突然之间，许多美国知名科技媒体开始高呼“杀死 Google Glass”以及“Google Glass 已死”，观点大变背后是 Google Glass 确实近<a href="493/" target="_blank">[查看详情]</a></div>
    <div class="info"><span class="time">
      <time class="timeago" datetime="2017-06-09 10:48:15">3年前 (2017-06-09)</time>
      </span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="杀死 Google Glass，然后让它重生" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/493?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/493&amp;title=杀死 Google Glass，然后让它重生" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>。
      </span></div>
  </section>
<section class="selected">
    <h3>自行车要不要智能？先看这 10 个创新</h3>
    <div class="desc"> 

自从张向东表示再创业，要把有限的生命奉献给无限的自行车事业之后，互联网刮起了“自行车”风。既然大家都那么想革掉传统自行<a href="491/" target="_blank">[查看详情]</a></div>
    <div class="info"><span class="time">
      <time class="timeago" datetime="2017-06-09 10:47:30">3年前 (2017-06-09)</time>
      </span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="自行车要不要智能？先看这 10 个创新" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/491?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/491&amp;title=自行车要不要智能？先看这 10 个创新" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>。
      </span></div>
  </section>
</div><div class="panel" style="display: none"><section class="product">
	<a href="news/atpress/" target="_blank">
    <h3>Atpress</h3>
    </a>
    <p>Zenpress <span class="wp_keywordlink"><span class="wp_keywordlink"><a title="凝视网络" href="http://www.at3.net/">凝视网络</a></span></span>Atpress，适合资讯、<span class="wp_keywordlink_affiliate"><span class="wp_keywordlink_affiliate"><a title="View all posts in 新闻" href="http://www.at3.net/tag/newstheme" target="_blank">新闻</a></span></span>等站点使用。</p>
<p>Zenpress <span class="wp_keywordlink"><span class="wp_keywordlink"><a title="凝视网络" href="http://www.at3.net/">凝视网络</a></span></span>Atpress，适合资讯、<span class="wp_keywordlink_affiliate"><span class="wp_keywordlink_affiliate"><a title="View all posts in 新闻" href="http://www.at3.net/tag/newstheme" target="_blank">新闻</a></span></span>等站点使用。</p>
    <div class="info"><span class="time">2年前 (2015-08-03)</span><span class="share"> 分享到
      <div class="share-group"><a class="weixin mobile-hide" href="javascript:void(0)" ref="nofollow" target="_blank"><i class="icon-weixin"></i>
        <div class="panel-weixin">
          <section class="weixin-section">
            <p><img alt="533066" src="http://s.jiathis.com/qrcode.php?url=http://www.at3.net/news/atpress?via=wechat_qr"></p>
          </section>
          <h3>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h3>
        </div>
        </a><a class="weibo" href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=http://www.at3.net/news/atpress&amp;title=Atpress" ref="nofollow" target="_blank"><i class="icon-weibo"></i></a></div>
      </span></div>
  </section>
</div><div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -297px; display: block;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 300px; right: 3px; display: block; height: 174px;"><div class="ps-scrollbar-y" style="top: 73px; height: 42px;"></div></div></div></div></div>
</div>
